Make it clear that allowed digest algorithms are a controlled vocab

In the "Digests" section at: https://ocfl.io/0.3/spec/#digests

It identifies two uses for digests, "content-addressing" and "fixity-values". 

It says you "SHOULD use sha512" for content-addressing.

It says you "MAY choose from the following list of digest algorithms" for fixity-values. 

1) I believe the intent is that for both content-addressing and fixity-values you MUST NOT use anything _but_ what is in this list. But that's not clear from those two statements, I think it needs to be clearer. 
    * For content-addressing, it just says you SHOULD use sha512 for content-addressing, but doesn't explicitly say that if use something other than sha512 it MUST be from that list. But I think that is intended. 
    * For fixity, It could be interpreted as you "MAY" use something from the list but could use anything else as well. I think it means you "MAY" have additional fixity values _or not_, but if you do it MUST be a digest from the list. 

2) I believe the intent is that the left column in the table of digest algorithms is a controlled vocabulary of values for you to use in the `digestAlgorithm` field for content-addresses, or as the keys in the hash structures for `fixity` section. But I don't think any part of the spec actually clearly says this, and it should. 
    * This is also what confirms to me 1 above, that you MUST use only digest algorithsm from this table -- becuase if you choose some other arbitrary digest algorithm, what would you use as the value of `digestAlgorithm` and/or the keys for `fixity` section hashes, and how would we ensure that people were using the same strings for the same algorithms, and that it would be understood by a client?

(Note in a discussion in Slack some people participating were not sure whether OCFL gave you a whitelist of digest algorithms for content-addressing or let you use whatever digest you wanted. That is what took me to the spec and led me to identify these as holes in it -- I think it also demonstrates that the spec needs to be clearer that you MUST NOT use anything but digests in that list, since there is already demonstrated potential confusion over that). 

we put a list of algorithms in the spec that provides a baseline.  we then have a list outside the spec and start with it being empty.

we have not been able to find a suitable outside list of controlled vocabulary of algorithms.  instead we will create our own list.  

we looked at the following lists to help us identify a suitable one:

- [multihash's list](https://github.com/multiformats/multicodec/blob/master/table.csv) 
- [RFC6234 section 1](https://tools.ietf.org/html/rfc6234#section-1)
- [Fedora Repo's digest list](http://docs.fcrepo.org/site/4.2.0/apidocs/org/fcrepo/kernel/utils/ContentDigest.html)
- [Magnet URI Scheme](https://en.wikipedia.org/wiki/Magnet_URI_scheme)

we agree with this: 
> For content-addressing, it just says you SHOULD use sha512 for content-addressing, but doesn't explicitly say that if use something other than sha512 it MUST be from that list. But I think that is intended.

Refs #21 

we also think the following: 

> you "MAY" have additional fixity values or not, and you SHOULD use a digest from the list.

refs #292 

Hmm, I thought it should be "You MAY have additional fixity values, they MUST use a digest from the list, using the value in the left-hand column for the digest value"

If not from the list, how would a client know what it is? Am I missing something?

We were trying to align it with this:

> we put a list of algorithms in the spec that provides a baseline. we then have a list outside the spec and start with it being empty.

That is, the list in the spec provides a minimal baseline of supported algorithms, but we have an extension mechanism (formerly known as "RFC"s, etc.) if others need or want to use alternate algorithms. This would mean that additional algorithms can be used without changing the specs.
